* {
	color: #455a64;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

label {
	color: #fff;
}

.main-container {
	min-height: 100vh;
	background: #97ccec;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
}

.main-wrapper {
	margin-top: 20px;
	border-radius: 5px;
	padding: 30px;
	width: 750px;
}

.control-wrapper {
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.addTodoWrap {
	display: flex;
	flex-direction: row;
	justify-items: center;
	align-items: center;
	border: 2px solid white;
  border-radius: 5px;
}

.control-wrapper label {
	margin-left: 5px;
}

.main-list {
	margin: 0 auto;
	margin-top: 30px;
	padding: 0;
}

.new-task {
	margin-left: 15px;
	padding: 10px;
	outline: none;
	border: none;
	background: none;
	color: #fff;
}

.add-task {
	margin: 0;
	margin-right: 5px;
	display: block;
	width: 35px;
	height: 35px;
	border-radius: 3px;
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	position: relative;
}


.add-task__icon {
	color: #fff;
	transition: .5s;
}
.add-task__icon:hover {
	color: #38d9a9;
}

.date {
	padding: 5px;
	font-size: 14px;
	outline: none;
	border: 2px solid white;
  border-radius: 5px;
	background: none;
	max-width: 70px;
	color: #fff;
}

.square-btn {
	margin: 10px;
	display: block;
	width: 35px;
	height: 35px;
	border-radius: 3px;
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	position: relative;
	transition: .5s;
}

.square-btn:hover {
	background-color: #38d9a9;
}

.removeBtn:hover {
	background-color: #ff8787;
}

.list {
	border: none;
	background: #fff;
	padding: 3px;
	padding-left: 15px;
	min-height: 50px;
	position: relative;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	opacity: 0;
	transition: .6s;
	border-bottom: 1px dashed #ddd;
}

.list-p {
	width: 100%;
	font-size: 18px;
}

.priorSelect {
	border: none;
	border: 2px solid white;
  border-radius: 5px;
	background: none;
	padding: 3px;
	color: #fff;
}

.editInput {
	width: 100%;
	padding: 0;
	margin: 0;
	background: none;
}

.date-p {
	min-width: 100px;
	font-weight: bold;
}

.btnsDiv {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.circle-icon {
	font-size: 20px;
}

.editInput {
	font-size: 18px;
	padding: 5px;
	outline: none;
	border: none;
	border-bottom: 1px solid gray;
}

.inner-text {
	width: 100%;
	word-break: break-all;
	padding: 5px;
	font-size: 18px;
}

.now-date {
	text-align: center;
	font-size: 30px;
	margin: 0;
	margin-bottom: 15px;
	color: #fff;
}

.now-date span {
	font-weight: bold;
	font-size: 40px;
	color: #fff;
}

.check-container {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-container input {
  position: absolute;
  opacity: 0;
	cursor: pointer;
	visibility: hidden;
}

.checkmark {
	position: absolute;
  top: 0;
  left: 0;
  height: 31px;
  width: 31px;
	background: none;
	border: 2px solid #5a64;
	border-radius: 5px;
	transform: translate(0%, -30%);
}

.check-container:hover input ~ .checkmark:after {
	border: solid rgb(173, 181, 189);
	border-width: 0 3px 3px 0;
}

.checkmark:after {
  content: "";
  position: absolute;
	display: block;
}

.check-container input:checked ~ .checkmark:after {
	display: block;
	border: solid #455a64;
	border-width: 0 3px 3px 0;
}

.check-container .checkmark:after {
  left: 11px;
	top: 5px;
	width: 7px;
	height: 14px;
  border: none;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 992px) {
  .main-wrapper {
		max-width: 700px;
	}
}

@media screen and (max-width: 772px) {
  .control-wrapper {
    flex-direction: column;
	}
	.priorityWrap {
		margin-bottom: 10px;
	}
	.dateWrap {
		margin-bottom: 10px;
	}
	.list {
		max-width: 480px;
		margin: 20px auto; 
	}
	.main-wrapper {
		max-width: 480px;
	}

}


@media screen and (max-width: 580px) {
  .main-wrapper {
		max-width: 320px;
		padding: 15px;
		padding-top: 30px;
	}
	.date-p {
		min-width: auto;
		font-size: 12px;
	}

	.new-task {
		margin-right: 5px;
		max-height: 14px;
		font-size: 14px;
		padding-bottom: 2px;
	}

	.date {
		max-height: 11px;
		max-height: 14px;
		font-size: 14px;
		padding-bottom: 2px;
		
	}

	.priorSelect {
		max-height: 25px;
		font-size: 14px;
		padding: 3px;
	}

	.check-container {
		padding-left: 30px;
	}
	.square-btn {
		width: 25px;
		height: 25px;
		margin: 2.5px;
	}
	.circle-icon {
		font-size: 10px;
	}
	.checkmark {
		width: 21px;
		height: 21px;
	}
	.inner-text {
		font-size: 14px;
	}
	.editInput {
		font-size: 14px;
	}
	.check-container .checkmark:after {
		left: 8px;
    top: 2px;
    width: 4px;
    height: 11px;
	}
}

@media screen and (max-width: 360px) {
  .main-wrapper {
		max-width: 280px;
		padding: 10px;
	}
}

.datepicker__header {
	border-bottom: 1px solid white;
	background: inherit;
}

.datepicker__wrapper {
	border: 2px solid #455a64;
	background: #fff;
}

.datepicker table th {
	color: #343a40;
}

.datepicker__prev, .datepicker__next {
	background-color: #455a64;
}


.datepicker__prev:hover, .datepicker__next:hover {
	background-color: #343a40;
}
